<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Erwinn</title>
</head>
<body>

    <!--HEADER-->
    <header>
        <h1>Erwinn</h1>
        <div class="hr"></div>
        <blockquote>Développeur</blockquote>
    </header>

    <h2>Mes compétences</h2>

   <section id="cards">

        <div class="cards" id="cards1">
            <h2>Sites Web</h2>
            <div class="hr-cards"></div>
            <p>Je suis développeur web front-end depuis plus de 2ans.</p>
        </div>
        <br>


        <div class="cards" id="cards2">
            <h2>Bots Discord</h2>
            <div class="hr-cards"></div>
            <p>Je développe des bots discord avec la librairie discord.py depuis quelques mois.</p>
        </div>

        <div class="cards" id="cards3">
            <h2>Visual Novel</h2>
            <div class="hr-cards"></div>
            <p>Je créer des jeux (visual novel) avec le logiciel Renpy depuis quelques mois également.</p>
        </div>
   </section>

   <section id="competences">
        <div class="competences">
            <h2>HTML | CSS</h2>
            <br>
            <p>Je développe en html et css depuis 2ans (premier confinement)</p>
        </div>

        <div class="competences">
            <h2>DISCORD.PY</h2>
            <br>
            <p>Je code avec la librairie python discord.py depuis quelques mois.</p>
        </div>

        <div class="competences">
            <h2>RenPy</h2>
            <p>Je me suis mis récemment à Renpy qui permet de créer des Visual Novel en python simplifié.</p>
        </div>
   </section>

   <footer>
       <h2>Erwinn</h2>
       <p>Portfolio - &copy; Tout droits résérvés</p>
   </footer>

</body>
</html>
